.form,
.success {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.error {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  position: relative;
}

.success {
  align-items: center;
  padding-top: 3rem;
}

.success h2,
.success h3 {
  font-size: var(--font-size-headline);
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}
