.container {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1.25rem;
}

.entry {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.25rem;
}

.entry:not(:last-of-type) {
  margin-bottom: 0.625rem;
}

.text {
  color: var(--white);
  font-size: var(--font-size-button);
  margin: 0;
  text-decoration: none;
}

.prune {
  background-color: var(--prune);
}

.nude {
  background-color: var(--nude);
}

.secondary {
  background-color: var(--secondary);
}

.variant {
  background-color: var(--secondary-variant);
}
