.burger {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.9rem;
  z-index: 10;
}

.container {
  box-sizing: border-box;
  display: none;
}

.button {
  background-color: var(--secondary-variant);
  border-radius: 4px;
  color: var(--white);
  padding: 0.8rem 2.5rem 0.7rem;
  text-decoration: none;
}

@media (--tablet-down) {
  .burger.visible {
    display: block;
  }

  .icon {
    height: 3.8rem;
    width: 3.8rem;
  }

  .container:target,
  .container.open {
    animation: is-entering 450ms cubic-bezier(.94, .01, .18, 1.12) forwards;
    background-color: var(--nude);
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    z-index: 5;
  }

  .container.open.exiting {
    animation: is-exiting 450ms cubic-bezier(.94, .01, .18, 1.12) forwards;
  }

  .content {
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 6rem 1.25rem 1.25rem;
  }

  .button {
    font-size: var(--font-size-button);
    font-weight: 600;
  }

  .link {
    font-size: var(--font-size-headline);
    font-weight: 600;
    padding: 1rem 0 1.2rem;
    text-align: center;
    width: 100%;
  }

  .container:target .link,
  .container.open .link,
  .container:target .button,
  .container.open .button {
    animation: is-entering 450ms cubic-bezier(.94, .01, .18, 1.12) forwards;
  }

  .container.is-exiting .link,
  .container.is-exiting .button {
    animation: is-exiting 450ms cubic-bezier(.94, .01, .18, 1.12) forwards;
  }

  .link:not(.lastLink) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .lastLink {
    margin-bottom: 2rem;
  }
}

@media (--desktop-up) {
  .burger {
    display: none;
  }

  .container {
    display: block;
    top: 3rem;
    position: absolute;
    right: 2.6875rem;
    padding-bottom: 1.8rem;
  }

  .link,
  .button {
    color: var(--white);
    text-decoration: none;
  }

  .button {
    background-color: var(--secondary-variant);
    border-radius: 4px;
    padding: 0.5rem 0.7rem 0.4375rem;
  }

  .link:not(:last-of-type) {
    margin-right: 1.375rem;
  }
}

@keyframes is-entering {
  to {
    transform: translateY(0);
  }
}

@keyframes is-exiting {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
