.container {
  display: flex;
  margin-bottom: 6.625rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

@media (--mobile-only) {
  .container {
    justify-content: center;
    max-width: calc(100vw - 3rem);
    margin: 0 auto 6.625rem;
  }
}

.containerMedium {
  margin: 2rem 0 10rem;
}

.caption {
  margin-top: 1.5rem;
  text-align: center;
}

.media {
  height: 60vw;
  max-height: 523px;
}

@media (--tablet-up) {
  .media {
    height: 30rem;
  }
}
