.hero {
  text-align: center;
  font-family: sans-serif;
  padding: 6rem 0;
}

.title,
.subTitle {
  font-family: ActofRejection;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.title {
  color: var(--primary);
  font-size: 3.2rem;
}

@media (--desktop) {
  .title {
    font-size: 5.5rem;
  }
}

.subTitle {
  color: var(--secondary);
  font-size: 1.8rem;
}

.description,
.link {
  color: var(--white);
  font-family: HKGrotesk;
  font-weight: 200;
}

.link {
  font-weight: 800;
  text-decoration: none;
  text-align: center;
}
