.hero {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 10rem;
}

@media (--tablet-up) {
  .hero {
    margin-bottom: 25rem;
  }
}


.title,
.subTitle {
  font-family: ActofRejection;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.title {
  color: var(--primary);
  font-size: var(--font-size-display-headline);
}

.subTitle {
  color: var(--secondary);
  font-size: var(--font-size-display-sub);
}

.description {
  color: var(--white);
  font-family: HKGrotesk;
  font-weight: 200;
  margin-bottom: 4rem;
}

.link {
  display: flex;
}
