.container {
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
}

.label {
  display: flex;
  flex-direction: column;
}

.text {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 0.4rem;
}
