.faqGroup {
  margin-bottom: 4.4rem;
}

.faq:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.title,
.question {
  margin-top: 0;
  text-align: center;
}

.title {
  font-size: var(--font-size-headline);
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.question {
  font-size: var(--font-size-headline-sub);
  margin-bottom: 1rem;
}
