.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.menu {
  display: none;
}

@media (--desktop-up) {
  .menu {
    align-items: center;
    display: flex;
    padding-bottom: 1.8rem;
    position: absolute;
    right: 2.6875rem;
  }

  .menuLink,
  .menuButton {
    color: var(--white);
    text-decoration: none;
  }

  .menuButton {
    background-color: var(--secondary-variant);
    border-radius: 4px;
    padding: 0.5rem 0.7rem 0.4375rem;
  }

  .menuLink:not(:last-of-type) {
    margin-right: 1.375rem;
  }
}

.logo {
  height: 2.6rem;
  width: 9.375rem;
  margin: 0 auto 0.5rem;
}

.title {
  margin: 0;
  text-align: center;
}

.link {
  text-decoration: none;
}

.visible {
  color: var(--primary);
  display: block;
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  /* Left margin is needed to compensate for letter-spacing */
  margin: 0.1rem 0 0 0.2rem;
  text-align: center;
  text-transform: lowercase;
}

@media (--tablet-up) {
  .logo {
    margin: 0 auto 0.6rem;
    height: 4.8125rem;
    width: 17.3rem;
  }

  .visible {
    font-size: 1.75rem;
    margin: 0.3rem 0 0 0.2rem;
  }
}
