.wrapper {
  position: static;
}

.children {
  position: relative;
  z-index: 2;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

/* Temporarily use an arbitrary max-size during development */
.image {
  pointer-events: none;
  position: absolute;
  display: block;
  max-width: 30%;
  max-height: 30%;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1000ms;
  z-index: 1;
  background: #f0c;
}

.visible {
  opacity: 1;
  transition: none;
  z-index: 2;
  animation: fadeOut 750ms 750ms ease-in forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
