.wrapper {
  position: static;
}

@media (--tablet-up) {

  /* Adjust hit area in order to catch mouse events all the way to the top */
  .wrapper {
    transform: translateY(-5.5rem);
    padding-top: 5.5rem;
  }
}

.children {
  position: relative;
  z-index: 2;
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.image {
  pointer-events: none;
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1000ms;
  z-index: 1;
  background: #f0c;
}

.visible {
  opacity: 1;
  transition: none;
  z-index: 2;
  animation: fadeOut 750ms 750ms ease-in forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
