.container {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.containerLarge {
  margin-bottom: 4rem;
}

.variant,
.variant .label {
  margin: 0;
}

.label {
  display: flex;
  align-items: center;
}

.text {
  color: var(--white);
  display: block;
  font-weight: 200;
  line-height: 1;
  margin: 0;
}


.variant .text {
  font-weight: 600;
  font-size: var(--font-size-button);
  padding-top: 0.1rem;
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  border-radius: 4px;
  border: none;
  display: block;
  height: 1.5rem;
  margin-right: 1.2rem;
  position: relative;
  width: 1.5rem;
}

.variant .checkbox {
  margin-right: 0.8rem;
}

.checkbox::after {
  border-color: var(--secondary-variant);
  border-style: solid;
  border-width: 0 4px 4px 0;
  content: "";
  height: 0.8rem;
  left: 0.45rem;
  position: absolute;
  top: 0.1rem;
  transform: rotate(45deg) scale(0);
  transition: transform 90ms ease-out;
  width: 0.4rem;
}

.variant .checkbox::after {
  border-color: var(--black);
}

.checkbox:checked::after {
  transform: rotate(45deg) scale(1);
}
