.container {
  margin: 0;
  position: relative;
  width: 100%;
}

.containerLarge {
  margin-bottom: 4rem;
}

.label {
  display: flex;
  align-items: center;
  margin: 0;
}

.text {
  color: var(--white);
  display: block;
  font-size: var(--font-size-button);
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding-top: 0.1rem;
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  border-radius: 4px;
  border: none;
  display: block;
  height: 1.5rem;
  margin-right: 0.8rem;
  position: relative;
  width: 1.5rem;
}

.checkbox::after {
  border-color: var(--black);
  border-style: solid;
  border-width: 0 3px 3px 0;
  content: '';
  height: 0.7rem;
  left: 0.5rem;
  position: absolute;
  top: 0.15rem;
  transform: rotate(45deg) scale(0);
  transition: transform 90ms ease-out;
  width: 0.3rem;
}

.checkbox:checked::after {
  transform: rotate(45deg) scale(1);
}
