.container,
.containerMedium,
.containerLarge,
.containerFull {
  box-sizing: border-box;
  width: 100%;
}

.containerFull,
.containerRegularVariant {
  width: 100vw;
}

.container,
.containerMedium {
  padding: 0 2.8rem;
}

/* Design exception for content to fit really small screens */
@media (--mobile-only) {

  .container,
  .containerMedium {
    padding: 0 1.5rem;
  }
}

@media (--tablet-up) {

  .container,
  .containerLarge {
    margin: 0 1.0875rem;
    padding: 0;
  }

  .container {
    width: var(--container-desktop-width);
    max-width: 100vw;
  }

  .containerRegularVariant {
    width: var(--container-variant-desktop-width);
    max-width: 100vw;
  }

  .containerMedium {
    padding: 0;
    width: var(--container-medium-desktop-width);
    max-width: 100vw;
  }

  .containerLarge {
    width: var(--container-large-desktop-width);
    max-width: 100vw;
  }
}
