.container,
.containerLarge,
.containerFull {
  box-sizing: border-box;
  width: 100%;
}

.containerFull {
  width: 100vw;
}

.container {
  padding: 0 2.8rem;
}

/* Design exception for content to fit really small screens */
@media (--mobile-smallest) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (--tablet-up) {

  .container,
  .containerLarge {
    margin: 0 1.0875rem;
    padding: 0;
  }

  .container {
    width: var(--container-desktop-width);
    max-width: 100vw;
  }

  .containerLarge {
    width: var(--container-large-desktop-width);
    max-width: 100vw;
  }
}
