/**
* Files:
* ActofRejection.woff
* ActofRejection.woff2
* HKGrotesk-Light.woff2
* HKGrotesk-Light.woff
* HKGrotesk-Bold.woff2
* HKGrotesk-Bold.woff
*/

@font-face {
  font-family: ActOfRejection;
  src: url('../../fonts/ActOfRejection/ActofRejection.woff2') format('woff2'),
    url('../../fonts/ActOfRejection/ActofRejection.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: HKGrotesk;
  src: url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Light.woff2') format('woff2'),
    url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Light.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: HKGrotesk;
  src: url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Bold.woff2') format('woff2'),
    url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Bold.woff') format('woff');
  font-weight: 800;
}

body {
  background: transparent linear-gradient(180deg, #954587 0vh, #393662 100vh, #0d2f51 200vh) 0% 0% no-repeat padding-box;
  font-size: 18px;
  min-height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #FFF800;
  font-family: HKGrotesk;
  font-weight: 800;
}

p {
  color: #fff;
  font-family: HKGrotesk;
  font-weight: 200;
}
