.page {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.page,
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  margin-top: 2rem;
}

.artist {
  margin-bottom: 7rem;
}

@media (--tablet-up) {
  .regular {
    margin-top: 5.5rem;
  }

  .artist {
    margin: 2.7rem 0 13rem;
  }
}

.footer {
  margin-top: auto;
}
