.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 542px;
  padding: 0px 1.0875rem 1.45rem;
}
