@custom-media --mobile-smallest (max-width: 320px);
@custom-media --mobile-only (max-width: 899px);
@custom-media --tablet (min-width: 900px);
@custom-media --desktop (min-width: 1200px);

:root {
  --font-family-display: ActOfRejection, serif;
  --font-family-sans-serif: HKGrotesk, sans-serif;

  --primary: #fff800;
  --secondary: #eb8cb2;
  --white: #ffffff;

  --font-size-display-headline: 3.2rem;
  --font-size-display-sub: 1.2rem;
  --font-size-headline: 3.75rem;
  --font-size-text: 1.2rem;
  --container-desktop-width: 542px;
  --container-large-desktop-width: 1122px;
  --container-horizontal-spacing-mobile: 3.9rem;
}

@media (--tablet),
(--desktop) {
  :root {
    --font-size-display-headline: 5.3rem;
    --font-size-headline: 3.75rem;
    --font-size-text: 1.25rem;
  }
}

/**
* Files:
* ActofRejection.woff
* ActofRejection.woff2
* HKGrotesk-Light.woff2
* HKGrotesk-Light.woff
* HKGrotesk-Bold.woff2
* HKGrotesk-Bold.woff
*/

@font-face {
  font-family: ActOfRejection;
  src: url('../../fonts/ActOfRejection/ActofRejection.woff2') format('woff2'),
    url('../../fonts/ActOfRejection/ActofRejection.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: HKGrotesk;
  src: url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Light.woff2') format('woff2'),
    url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Light.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: HKGrotesk;
  src: url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Bold.woff2') format('woff2'),
    url('../../fonts/HK_Grotesk_webfont/HKGrotesk-Bold.woff') format('woff');
  font-weight: 800;
}

body {
  background: transparent linear-gradient(180deg, #954587 0vh, #393662 100vh, #0d2f51 200vh) 0% 0% no-repeat padding-box;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--primary);
  font-family: HKGrotesk;
  font-weight: 800;
}

p {
  color: var(--white);
  font-family: HKGrotesk;
  font-weight: 200;
  font-size: var(--font-size-text);
  line-height: 1.4;
}
