.container {
  animation: is-entering 450ms ease-out forwards;
  animation-delay: 550ms;
  box-sizing: border-box;
  opacity: 0.5;
  transform: translateY(100%);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-variant);
  padding: 1.2rem 2.5rem 1.5rem;
  z-index: 2;
}

.text {
  margin: 0;
  text-align: center;
}

.link {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  outline: none;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

@media (--tablet-up) {
  .text {
    margin: 0 auto;
    max-width: var(--container-desktop-width);
  }

  .button {
    right: 0.8rem;
    top: 0.5rem;
  }
}

@keyframes is-entering {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
