.imageGrid {
  margin-bottom: 5rem;
}

.imageGrid h2 {
  font-size: var(--font-size-headline);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.imageContainer {
  display: block;
  margin-bottom: 2.8rem;
}

.image {
  display: block;
  height: calc(100vw - 3rem);
  width: calc(100vw - 3rem);
}

a {
  text-decoration: none;
}

h3 {
  margin-top: 1rem;
}

@media (--tablet-up) {
  .imageGrid.slim {
    margin-bottom: 2rem;
  }

  .imageGrid h2,
  .imageGrid h1 {
    margin-bottom: 2.5rem;
  }

  .image {
    height: 445px;
    width: 445px;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .imageContainer {
    width: calc(50% - 1.25rem);
    margin-bottom: 2.5rem;
  }
}
